@charset "utf-8";
body, html{
    width: 100%;
    height: 100%;
}
.pt30{
    padding-top:30px;
}
.mt30{
    margin-top:30px;
}
.wrap header{
    width: 100%;
    height: 80px;
    background-color: #ea967a;
}
.wrap header > h3{
    font:30px/1 "宋体";
    color: #ecf4ff;
    padding:26px 0 0 50px;
}
.bgmain{
    background-color: #ececec;
}
.wrap main{
    width: 100%;
    height: 953px;
}
.wrap main .content{
    width: 96%;
    height: 100%;
    margin: 0 auto;
    border: 1px solid #333;
}
.wrap main .content > h3{
    font: 22px/1 "宋体";
}
.wrap main .content > form > p{
    margin-top: 30px;
}
.wrap main .content > form > p > i{
    color:#fa000a;
}
.wrap main .content > form > p > span{
    display: inline-block;
    width: 110px;
    height: 30px;
    font: 16px/30px "宋体";
}
.wrap main .content > form > p > input{
    width: 847px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    vertical-align: top;
    background-color: #ffffff;
    text-indent: 1em;
}
.wrap main .content > form > .classification > a{
    display: inline-block;
    width: 100px;
    height: 32px;
    font:14px/32px "宋体";
    color: #3c3c3c;
    text-align: center;
    border: 1px solid #d5d5d5;
    margin-left: 3px; 
    border-radius: 3px;
}
.wrap main .content > form > .classification > a >input[type=checkbox]{
    width: 18px;
    height: 18px;
    vertical-align: middle;
}
.wrap main .content > form > .classification > button{
    width: 70px;
    height: 32px;
    background-color: #438eb8;
    color:#e3ffff;
    font-size: 14px;
    border-radius: 3px;
    margin-left: 13px;
}