@charset "utf-8";
/* pad version*/
@media screen and (max-width:992px){
   
    .wrap header .logo{
        display: none;
    }
    .wrap header .logout{
        display: none;
    }
    .wrap .navlist .iconmore{
        display: block;
        position: absolute;
        top: -40px;
        left: 25px;
    }
    .wrap .navlist{
        width: 100%;
        min-height: auto;
        z-index: 20;
    }
    .wrap .navlist .sidenav{
        display: none; 
        padding: 20px 0;
        text-align: center;
        background-color: #ffffff;
        border-top: 1px solid #e6e6e6;
    }
    .wrap .navlist .sidenav .active .innernav{
        display: none;
    }
    .wrap .navlist:hover .sidenav{
        display: block;
    } 
    .wrap main{
        margin-left: 0;
    }
    .wrap .navlist .sidenav > li{
        line-height: 30px;
        margin-top: 0;
    } 
    .wrap .navlist .sidenav .active{
        background-color: #009788;
        border: 1px solid #82cac6;
    }
    .wrap .navlist .sidenav .active > a{
        color:#ffffff;
    }
    .wrap header .avatar {
        margin-right: 25px;
    }
    .wrap main .content .order{
        width: 46%;
        margin: 15px 2%;
    }
}
/* phone version */
@media screen and (max-width: 767px){
    .wrap .navlist .iconmore{
        display: block;
        position: absolute;
        top: -40px;
        left: 18px;
    }
    .wrap header .avatar {
        margin-right: 18px;
    }
    .wrap main .content .order{
        width: 93%;
        margin: 12px 4%;
    }

}