@charset "utf-8";
.wrap{
    position: relative;
}
.wrap header{
    height: 60px;
    line-height: 60px;
    background-color: palevioletred;
}
.wrap header .logo{
    width: 220px;
    height: 100%;
    text-align: center;
    font:20px/60px "宋体";
    color:#ffebde;
    background-color: #ea967a;
}
.wrap header .logout,
.wrap header .avatar{
    margin-right: 50px;
}
.wrap header .logout > i{
    font-size: 28px;
    color:#0084d5;
    vertical-align: middle;
    padding-right: 10px;

}
.wrap header .logout > span,
.wrap header .avatar > span{
    font: 17px/60px "宋体";
    color: #443e40;
}
.wrap header .avatar > img{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    padding-right: 10px;
}
.wrap .navlist{
    width: 220px;
    min-height: calc(100vh - 60px);
    border: 1px solid #333;
    position: absolute;
    top:60px;
    left:0;
}
.wrap .navlist .iconmore{
    font-size: 28px;
    color: #5b5b5b;
    display: none;
}
.wrap .navlist .sidenav{
    padding: 0 0 0 60px;
}
.wrap .navlist .sidenav > li{
    margin-top: 40px;
}
.wrap .navlist .sidenav > li > a{
    font: 18px/1 "宋体";
    color:#3d2d30;
    letter-spacing: 1px;
}
.wrap .navlist .sidenav > .active > a{
    color: #d8e562;
}
.wrap .navlist .sidenav .active .innernav{
    margin-top: 10px;
}
.wrap .navlist .sidenav .active .innernav > li{
    width: 136px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.wrap .navlist .sidenav .active .innernav .on{
    background-color: #ea967a;
}
.wrap .navlist .sidenav .active .innernav > li > a{
    font:16px/30px "宋体";
    color:#37313f;
}
.wrap .navlist .sidenav .active .innernav > li > a > i{
    font-size: 17px;
    color: #016c00;
    vertical-align: baseline;
}




