@charset "utf-8";
/* pad version*/
@media screen and (max-width:992px){
    .wrap{
        width: 100%;
        height: 757px;
    }
    .wrap header{
        display: none; 
    }
    .wrap main > .loginbox{
        width: 97%;
        height: 360px; 
        background-color: #ffffff;
        position: absolute;
        bottom: 50%;
        transform: translate(-50%, 50%);
    }
    .wrap main .loginbox > h3{
        margin:24px 0 24px 8%;
        font:bold 18px/1 "宋体";
    }
    .wrap main .loginbox > form> p,
    .wrap main .loginbox > form>.login{
        margin-left: 8%;
    }
    .wrap main .loginbox > form> p > label{
        font:bold 10.5px/20px "宋体";
    }
    .wrap main .loginbox > form> p > label > input{
        /* width: 594px; */
        width: 88%;
        height: 30px;
        border: 2px solid #d9d9d9;
        border-radius: 4px;
        margin: 7.5px auto;
        font-size: 10.5px;
        text-indent: 2em;
        box-sizing: border-box;
    }
    .wrap main .loginbox > form>.rempwd{
        margin-left:7%; 
        padding-bottom: 7.5px;
    }
    .wrap main .loginbox > form>.rempwd > label > input[type=checkbox]{
        zoom: 100%; 
    }
    .wrap main .loginbox > form>.rempwd > label{
        font: bold 10.5px/18px "宋体" ;
    }
    .wrap main .loginbox > form>.login{
        width: 81%;
        height: 30px;
        font: bold 15px/1 "宋体";
    }
    .wrap main .loginbox .hint{
        font:9px/1 "宋体";
        padding-top: 15px;
    }
    .wrap main .loginbox .hint > a{
        font: bold 10.5px/1 "宋体";
    }

}

/* phone version */
@media screen and (max-width: 767px){
    .wrap main > .loginbox{
        width: 90%;
        height: 415px; 
    }
    .wrap main .loginbox > h3{
        margin:30px 0 24px 15%;
        font:bold 20px/1 "宋体";
    }
    .wrap main .loginbox > form> p,
    .wrap main .loginbox > form>.login{
        margin-left: 15%;
    }
    .wrap main .loginbox > form> p > label{
        font:bold 12px/20px "宋体";
    }
    .wrap main .loginbox > form> p > label > input{
        width: 78%;
        height: 32px;
        margin: 10px auto;
        font-size: 15px;
    }
    .wrap main .loginbox > form>.rempwd{
        margin-left: 13.5%; 
        padding-bottom: 8px;
    }
    
    .wrap main .loginbox > form>.rempwd > label{
        font: bold 10px/18px "宋体" ;
    }
    .wrap main .loginbox > form>.login{
        width: 67%;
        font: bold 16px/1 "宋体";
    }
    .wrap main .loginbox .hint{
        font:9px/1 "宋体";
        padding-top: 18px; 
        
    }
    .wrap main .loginbox .hint > a{
        font: bold 12px/1 "宋体";
    }

}