@charset "utf-8";
html, body{
    width: 100%;
    height: 100%;
}
.wrap{
    width: 100%;
    height: 757px;
    background-image: linear-gradient(to bottom, #f3e8e6, #e89b7f);
}
.wrap header{
    width: 100%;
    height: 200px;
    border-bottom: 1px solid #333;
    overflow: hidden;
    text-align: center;
}
.wrap header > img{
    width: 95px;
    height: 90px;
    margin-top: 86px;
}
.wrap main{
    position: relative;
}
.wrap main > .loginbox{
    width: 400px;
    height: 478px;
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);

}